{% extends "templates/base.html" %}

{% block content %}
{% include "templates/af-token.html" %}
<div id="app"></div><div id="app"></div>
{% endblock %}

{% block js-bottom %}
<script type="text/javascript">de.sveri.gio.cc.core.main();</script>
{% endblock %}

