div.table {
    display: table;
    border-collapse: collapse;
}

div.tr {
    display: table-row;
}

div.td {
    width: 60px;
    text-align: center;
    display: table-cell;
    border: thin solid red;
    padding: 5px;
}

