{% extends "templates/base.html" %}

{% block add-css %}
<link rel="stylesheet" href="/css/game-ui.css">
{% endblock %}

{% block content %}
<div id="app"></div>
{% endblock %}

{% block js-bottom %}
<script type="text/javascript">de.sveri.gio.core.main();</script>
{% endblock %}

